@font-face {
    font-family: GlacialIndifference-Bold;
    src: url(../fonts/GlacialIndifference-Bold.eot) format ("eot");
    src: url(../fonts/GlacialIndifference-Bold.svg) format ("svg");
    src: url(../fonts/GlacialIndifference-Bold.ttf) format ("ttf");
    src: url(../fonts/GlacialIndifference-Bold.woff) format ("woff");
    src: url(../fonts/GlacialIndifference-Bold.woff2) format ("woff2");
}

@font-face {
    font-family: GlacialIndifference-Regular;
    src: url(../fonts/GlacialIndifference-Regular.eot) format ("eot");
    src: url(../fonts/GlacialIndifference-Regular.svg) format ("svg");
    src: url(../fonts/GlacialIndifference-Regular.ttf) format ("ttf");
    src: url(../fonts/GlacialIndifference-Regular.woff) format ("woff");
    src: url(../fonts/GlacialIndifference-Regular.woff2) format ("woff2");
}

@font-face {
    font-family: Jaapokki-Regular;
    src: url(../fonts/Jaapokki-Regular.eot) format ("eot");
    src: url(../fonts/Jaapokki-Regular.svg) format ("svg");
    src: url(../fonts/Jaapokki-Regular.ttf) format ("ttf");
    src: url(../fonts/Jaapokki-Regular.woff) format ("woff");
    src: url(../fonts/Jaapokki-Regular.woff2) format ("woff2");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.eot) format ("eot");
    src: url(../fonts/Montserrat-Bold.svg) format ("svg");
    src: url(../fonts/Montserrat-Bold.ttf) format ("ttf");
    src: url(../fonts/Montserrat-Bold.woff) format ("woff");
    src: url(../fonts/Montserrat-Bold.woff2) format ("woff2");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.eot) format ("eot");
    src: url(../fonts/Montserrat-Regular.svg) format ("svg");
    src: url(../fonts/Montserrat-Regular.ttf) format ("ttf");
    src: url(../fonts/Montserrat-Regular.woff) format ("woff");
    src: url(../fonts/Montserrat-Regular.woff2) format ("woff2");
}

@font-face {
    font-family: Muli;
    src: url(../fonts/Muli.eot) format ("eot");
    src: url(../fonts/Muli.svg) format ("svg");
    src: url(../fonts/Muli.ttf) format ("ttf");
    src: url(../fonts/Muli.woff) format ("woff");
    src: url(../fonts/Muli.woff2) format ("woff2");
}

@font-face {
    font-family: Muli-Light;
    src: url(../fonts/Muli-Light.eot) format ("eot");
    src: url(../fonts/Muli-Light.svg) format ("svg");
    src: url(../fonts/Muli-Light.ttf) format ("ttf");
    src: url(../fonts/Muli-Light.woff) format ("woff");
    src: url(../fonts/Muli-Light.woff2) format ("woff2");
}

@font-face {
    font-family: Muli-Regular;
    src: url(../fonts/Muli-Regular.eot) format ("eot");
    src: url(../fonts/Muli-Regular.svg) format ("svg");
    src: url(../fonts/Muli-Regular.ttf) format ("ttf");
    src: url(../fonts/Muli-Regular.woff) format ("woff");
    src: url(../fonts/Muli-Regular.woff2) format ("woff2");
}

@font-face {
    font-family: Poppins-ExtraBold;
    src: url(../fonts/Poppins-ExtraBold.eot) format ("eot");
    src: url(../fonts/Poppins-ExtraBold.svg) format ("svg");
    src: url(../fonts/Poppins-ExtraBold.ttf) format ("ttf");
    src: url(../fonts/Poppins-ExtraBold.woff) format ("woff");
    src: url(../fonts/Poppins-ExtraBold.woff2) format ("woff2");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.eot) format ("eot");
    src: url(../fonts/Poppins-SemiBold.svg) format ("svg");
    src: url(../fonts/Poppins-SemiBold.ttf) format ("ttf");
    src: url(../fonts/Poppins-SemiBold.woff) format ("woff");
    src: url(../fonts/Poppins-SemiBold.woff2) format ("woff2");
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.eot) format ("eot");
    src: url(../fonts/Roboto-Light.svg) format ("svg");
    src: url(../fonts/Roboto-Light.ttf) format ("ttf");
    src: url(../fonts/Roboto-Light.woff) format ("woff");
    src: url(../fonts/Roboto-Light.woff2) format ("woff2");
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.eot) format ("eot");
    src: url(../fonts/Roboto-Regular.svg) format ("svg");
    src: url(../fonts/Roboto-Regular.ttf) format ("ttf");
    src: url(../fonts/Roboto-Regular.woff) format ("woff");
    src: url(../fonts/Roboto-Regular.woff2) format ("woff2");
}