@media screen and (min-width: 320px) and (max-width: 768px){
    .hide{
        display: none !important;
    }
    header{
        min-height: 180px !important;
        height: auto !important;
        position: relative;
    }
    .header-main{
        margin: 0px !important;
        margin-left: 45% !important;
        margin-right: 10px !important;
        margin-bottom: 40px !important;
    }
    .header-main-img{
        height: 100% !important;
    }
    .header-main-top{
        font-size: 14px !important;
    }
    .header-main-middle{
        font-size:  18px !important;
        height: auto !important;
    }
    .header-main-bottom{
        font-size: 8px !important;
        height: auto !important;
        margin-bottom: 0px !important;
    }
    .roca-with-dot{
        font-size: 16px !important;
    }
    .roca-header{
        margin-top: 10px !important;
        margin-left: 10px !important;
        width: auto !important;
        height: auto !important;
    }
    .resume-template{
        font-size: 5px !important;
    }
    .header-top{
        margin-bottom: auto !important;
    }
    .aboutme-header{
        margin: 0px !important;
        margin-top: 10px !important;
        margin-right: 20px !important;
    }
    .aboutme-number{
        font-size: 20px !important;
    }
    .aboutme-header-text{
        font-size: 8px !important;
        width: 45px !important;
    }
    .clients-header{
        font-size: 10px !important;
        margin-left: auto !important;
        margin-right: 35px !important;
    }
    .header-progress-container{
        width: 140px !important;
        margin-left: auto !important;
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }
    .about-me-sec{
        margin-top: 20px !important;
    }
    .section-progress{
        margin: auto !important;
    }
    .about-sec-top-container{
        flex-direction: column-reverse;
    }
    .about-sec-top-container{
        padding: 20px !important;
    }
    .sec-lable, .sec-percent{
        font-size: 14px !important;
    }
    .section-icons{
        margin-top: 50px !important;
        margin: auto;
        margin-bottom: 30px !important;
    }
    .section-photo{
        margin: auto !important;
        height: 396px !important;
        margin-bottom: 30px !important;
    }
    .section-photo img{
        height: 396px !important;
    }
    .hire-me-container{
        margin: auto !important;
    }
    .hire-me-container, .hire-me-container p{
        text-align: start !important;
    }
    .hire-me-name{
        font-size: 30px !important;
    }
    .web-design-span{
        font-size: 10px !important;
    }
    .hire-me-btn{
        margin: auto !important;
    }
    .about-sec-bot-container{
        flex-direction: column;
    }
    .about-sec-bot-container span{
        font-size: 20px !important;
    }
    .about-sec-bot-container a{
        font-size: 10px !important;
    }
    .sec-address{
        margin: 0px !important;
        width: 223.07px !important;
    }
    .about-sec-bot-container div{
        margin: auto !important;
    }
    .cards-section {
        padding: 50px 0px !important;
    }
    .graphichs-designer{
        flex-direction: column;
        padding: 40px 30px 20px !important;
        height: auto !important;
    }
    .gd-text{
        font-size: 12px !important;
        margin: auto;
        margin-top: 0px !important;
        margin-bottom: 30px !important;
        text-align: start !important;
    }
    .gd-image{
        margin: auto !important;
        margin-bottom: 30px !important;
        margin-top: 0px !important;
    }
    .gd-bullets{
        flex-direction: row !important;
        margin-left: 0px !important;
        margin: auto !important;
        margin-top: 30px !important;
        margin-bottom: 0px !important;
    }
}